/* Variables */

:root {
    --primary-color-green: #B1FF9F;
    --primary-color-purple: #F1A9FF;
    --primary-color-black: #0C0910;
    --primary-text-black: #000;
    --primary-text-white: #fff;
    --secondary-color-purple: #73648A;
    --tertiary-color-purple: #453750;
}

/* end of Variables */ 

/* Body Style */

body {
    padding: 0;
    background: linear-gradient(90deg, var(--secondary-color-purple), var(--tertiary-color-purple));
    color: var(--primary-text-black);
    height: 10000px; /*Temp*/
}

/* end of Body Style */

/* Header Style */

#banner-top-foreground {
    position: sticky;
    top: 10px;
}

#banner-top-foreground h1 {
    display: inline-block;
    position: absolute;
    right: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--primary-color-black);
    box-shadow: 0 2px 5px var(--secondary-color-purple);
    color: var(--primary-text-white);

    font-size: 1.5em;
    font-weight: 400;
}

#banner-top-background {
    position: relative;
    display: inline-block;
}

#banner-top-background img{
    top: 10px;
    left: 100px;
    width: auto;
    height: 90vh;
    border-radius: 50%;
    background-color: var(--primary-color-green);
    box-shadow: 0 2px 5px var(--secondary-color-purple);
}
#banner-top-background-imgoverlay {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

/* end of Header Style */