/* Variables */

:root {
    --primary-color-green: #B1FF9F;
    --primary-color-purple: #F1A9FF;
    --primary-color-black: #0C0910;
    --primary-text-black: #000;
    --primary-text-white: #fff;
    --secondary-color-purple: #73648A;
    --tertiary-color-purple: #453750;
}

/* end of Variables */ 

/* Body Style */

body {
    background-color: var(--tertiary-color-purple);
    height: 100vh;
    margin: 0;
}

/* end of Body Style */

header {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--tertiary-color-purple);
}

header .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-color: var(--tertiary-color-purple);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header .badge img {
    position: absolute;
    width: 30vh;
    height: 30vh;
}

header .badge a{
    text-decoration: none;
    color: var(--primary-color-green);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;

    /* place at bottom*/
    position: absolute;
    bottom: 0;
}

header .badge a:hover {
    color: var(--primary-color-purple);
}

header h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary-color-black);
    color: var(--primary-color-green);
    border-radius: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}